<main class="content" role="main">
  <article class="post">

    <div class="article-image">
      <div class="post-image-image" style="background-image: url({{page.imageUrl}})">
        Article Image
      </div>
      <div class="post-meta">
        <h1 class="post-title">{{page.title}}</h1>
        <h2 class='subtitle'>{{page.subtitle}}</h2>
        <div class="cf post-meta-text">
          <div class="author-image" style="background-image: url({{page.authorImage}})"></div>
          <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">Dave Laird</h4>
          on
          <time datetime="2014-09-21 00:00">{{page.publishDate}}</time>
          <!-- , tagged on <span class="post-tag-">, <a href="/tag/"></a></span> -->
        </div>
        <div style="text-align:center">
          <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>

    <section class="post-content">
      <div class="post-reading">
        <span class="post-reading-time"></span> read
      </div>
      <a name="topofpage"></a>
      <h1>{{page.title}}</h1>
